/*
CSS3 Cool Banner Micro FWK
Author: Nico Fantino (@ala_747)
Version: 0.1b
Abstract: Quick transform booooooooring links into colorful banners.
Usage: link/include this file into your HTML doc and add some simple classes to your link.
Example:
<a href="your-link.html" title="Bannerized Link!" class="shadowed orange banner">
    <span class="title">Look, Mom! I'm Bannerized Now!</span>
    <span class="subtitle">Babe...</span>
    <span>I'm really <strong>loving</strong> it! :D</span>
</a>
Classes:
    Base:
        .banner (base class, required)
            .title (big stuff class, optional)
            .subtitle (medium stuff class, optional)
    Beautifiers:
        .rounded (applies rounded corners, optional)
        .shadowed (applies a nice shadow, optional)
        .plain (avoids gradient background, optional)
    Available colors:
        .grey (optional, default)
        .orange (optional)
        .green (optional)
        .blue (optional)
        .black (optional)
        .red (optional)

TODO: add :hover effects <del>and add support for <strong>, <em>, etc. inside the banners</del>.
*/

/* Nice typography external import (comment out next line to stop loading it) */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

/* External import for your custom color schemes (rename the file 'custom-banner-colors_sample.css' to 'custom-banner-colors.css' and uncomment the next line) */
/*@import url(custom-banner-colors.css);*/

/*** Basic Stuff ***/
.banner {
    display:block;
    position: relative;
    padding:20px;
    text-decoration:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.banner span {
    display:block;
}
.banner strong,
.banner b {
    font-weight: bold;
}
.banner em,
.banner i {
    font-style: italic;
}

/*** Typography ***/
.banner {
    font: 1em/1.4 helvetica neue, helvetica, arial, sans-serif;
}
    .banner .title {
        font: bold 3em/.8 'Open Sans Condensed', sans-serif;
        letter-spacing:-.05em;
        text-transform:uppercase;
    }
    .banner .subtitle {
        font: bold 2em/1 'Open Sans Condensed', sans-serif;
        letter-spacing:-.05em;
    }

/*** Colors ***/
    /* Default/Grey */
    .banner,
    .banner.grey {
        color:#333;
        background: #ccc;
        background-image: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc));
        background-image: -webkit-linear-gradient(top, #eee 0%,#ccc 100%);
        background-image: -o-linear-gradient(top, #eee 0%,#ccc 100%);
        background-image: -ms-linear-gradient(top, #eee 0%,#ccc 100%);
        background-image: linear-gradient(top, #eee 0%,#ccc 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
        border:1px solid #bbb;
    }
    .banner .title,
    .banner.grey .title {
        color:#000;
    }
    .banner .subtitle,
    .banner.grey .subtitle {
        color:#666;
    }

    /* Orange */
    .banner.orange {
        color:#fff;
        background: #f79621;
        background-image: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621));
        background-image: -webkit-linear-gradient(top, #f9c667 0%,#f79621 100%);
        background-image: -o-linear-gradient(top, #f9c667 0%,#f79621 100%);
        background-image: -ms-linear-gradient(top, #f9c667 0%,#f79621 100%);
        background-image: linear-gradient(top, #f9c667 0%,#f79621 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
        border:1px solid #e78611;
    }
    .banner.orange .title {
        color:#630;
    }
    .banner.orange .subtitle {
        color:#fec;
    }

    /* Green */
    .banner.green {
        color:#fff;
        background: #abbd73;
        background-image: -moz-linear-gradient(top, #e4efc0 0%, #abbd73 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73));
        background-image: -webkit-linear-gradient(top, #e4efc0 0%,#abbd73 100%);
        background-image: -o-linear-gradient(top, #e4efc0 0%,#abbd73 100%);
        background-image: -ms-linear-gradient(top, #e4efc0 0%,#abbd73 100%);
        background-image: linear-gradient(top, #e4efc0 0%,#abbd73 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 );
        border:1px solid #9bad63;
    }
    .banner.green .title {
        color:#331;
    }
    .banner.green .subtitle {
        color:#ffd;
    }

    /* Blue */
    .banner.blue {
        color:#fff;
        background: #05abe0;
        background-image: -moz-linear-gradient(top, #87e0fd 0%, #05abe0 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(100%,#05abe0));
        background-image: -webkit-linear-gradient(top, #87e0fd 0%,#05abe0 100%);
        background-image: -o-linear-gradient(top, #87e0fd 0%,#05abe0 100%);
        background-image: -ms-linear-gradient(top, #87e0fd 0%,#05abe0 100%);
        background-image: linear-gradient(top, #87e0fd 0%,#05abe0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 );
        border:1px solid #059bd0;
    }
    .banner.blue .title {
        color:#024;
    }
    .banner.blue .subtitle {
        color:#bdf;
    }

    /* Black */
    .banner.black {
        color:#ccc;
        background: #0e0e0e;
        background-image: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
        background-image: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
        background-image: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
        background-image: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
        background-image: linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
        border:1px solid #000;
    }
    .banner.black .title {
        color:#fff;
    }
    .banner.black .subtitle {
        color:#999;
    }

    /* Red */
    .banner.red {
        color:#ecd;
        background: #6d0019;
        background-image: -moz-linear-gradient(top, #a90329 0%, #6d0019 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(100%,#6d0019));
        background-image: -webkit-linear-gradient(top, #a90329 0%,#6d0019 100%);
        background-image: -o-linear-gradient(top, #a90329 0%,#6d0019 100%);
        background-image: -ms-linear-gradient(top, #a90329 0%,#6d0019 100%);
        background-image: linear-gradient(top, #a90329 0%,#6d0019 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
        border:1px solid #5d0009;
    }
    .banner.red .title {
        color:#fff;
    }
    .banner.red .subtitle {
        color:#b9a;
    }

/*** Misc ***/
.banner.plain {
    background-image: none;
    filter:none;
}
.banner.rounded {
    border-radius:3px;
}
.banner.shadowed {
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .3);
}